huggingface_hub[cli]
accelerate
transformers
torch

ffmpeg-python
flask
azure-storage-blob

pytest
pytest-cov

azure-ai-translation-text==1.0.0b1
PyYAML
python-dotenv

azure-storage-blob>=12.17.0

soundfile
azure-ai-translation-text

