huggingface_hub[cli]
accelerate==1.12.0
transformers==4.57.3
torch

ffmpeg-python
flask
azure-storage-blob

pytest
pytest-cov

PyYAML
python-dotenv

numpy<2.0
soundfile
azure-ai-translation-text
azure-ai-transcription
qwen-tts
kafka-python
psycopg[binary]
